.container{ /* main container to hold all the props*/
  font-family: "courier";
  border:2px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  max-height: 450px;
 
}
#cancel{ /*changing cursor icon */
  cursor: pointer; 
}
.Header{ /* alligning all the items inside main container*/
  align-items: center;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  
}
.tableWrapper{ /* creating wrapper to wrap the table*/
  margin: 2%;
  border:2px solid black;
  width: fit-content;
  height: fit-content;
  max-height: 200px;
  overflow: scroll;
}

#cancel{
 fill:royalblue; /* styling cancel button*/
}
#cancel:hover{
  fill: red;
}
/* creating table with design*/
#customers {
  border-collapse: collapse;

}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e0bc5a;
  color: white;
}

/* Styling the table to manage scrolling */
table {
  display:block;

}

th{
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
table th,table td{
  width:100px;
}


table  tbody{
display:block;
height: 50px;
max-height:100px;
overflow:auto;
}

#name{
  text-transform: uppercase;
}