.App{
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: fit-content;
    height: fit-content;
}
.portfolioAdd{
  font-family: 'courier';
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  
}
#inputPorfolio{
  font-family:  'courier';
  height: fit-content;
  width: 50%;
  padding: 10px 20px;
  
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'courier';
    width:fit-content;
    height: fit-content;
    
  }
  .buttonAdd {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  .buttonAdd:hover:enabled {
    cursor: pointer;
    background-color: rgba(188, 236, 125, 0.966);
    color: black;
    border: 2px solid #555555;
  }
 
  .content{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-flow: wrap;
  }
 
  
 